/* heading font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* body font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* colors */
:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    height:100vh;
    margin:0 50px 0 50px;
    background-image: url(./images/bg-desktop.svg);
    background-attachment: fixed;
    background-color:var(--Violet) ;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: "Open Sans",sans-serif;
    
   
}

/* heading */
.heading img{
    width:230px;
    height:auto;
   margin-top: 45px;
   margin-bottom:55px;
}

/* main image */
.main-image img{
    width:750px;
    height:auto;
    ;
}

/* main*/

main{
display: flex;
height:100vh;
}

/* article */

article{
margin:40px 80px 0 85px;
}
/* article h1 */

.article h1{
    font-family: "Poppins";
    font-weight:600;
    color: white;
    font-size:2.7rem;
    
}

/* paragraph  */

.article p{
    color: rgba(255, 255, 255, 0.754);
    font-size:1.3rem;
    margin-top:20px;
}

/* register */

.register a{
text-decoration:none;
color: var(--Violet);
border: 9px solid white;
padding:6px 45px 6px 45px;
background-color:white;
border-radius: 1.8rem;
box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
font-size: 20px;
transition: 0.5s;
}
.register{
    margin-top:40px;
}
.register a:hover{
    background-color: var(--Soft-Magenta);
    color: white;
    border-color: var(--Soft-Magenta);
}
/* social media links */
.social-media{
    display:flex;
    flex-direction:row;
    gap: 1rem;
    align-items: flex-end;
    margin-top:14rem;
    margin-left:25rem;
}
.media-icon{
border:2px solid white;
border-radius: 50% ;
padding: 15px 20px 15px 20px;
transition: 0.5s;
background-color:transparent;

}
.fab{
    color:white;
    align-items: center;
}
.media-icon:hover{
    border:2px solid hsl(300, 69%, 71%);;
    
}
 .fab:hover{
  color:var(--Soft-Magenta);

}
/* media queries */
@media screen and (max-width:850px){
body{
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
}
.main-image img{
    width:650px;
    height:auto;
    ;
}
main{
    margin:0;
    display:flex;
    flex-direction:column;
}
.article{
    margin-top:7rem;
}
.social-media{
    display: flex;
    justify-content: center;
    margin:9rem 0 5rem 0;
}

.register{
text-align:center;
margin-top:10rem;
}
.article p{
    margin:auto;
}
}
